*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(252, 248, 248);
}

img {
    width: 100%;
    height: 30rem;
}

/* =====================================
NAVIGATIONS
===================================== */

header {
    position: fixed;
    height: 5rem;
    top: 0;
    z-index: 12;
}

/*NAVIGATION- TOP*/

.navigation {
    position: fixed;
    background-color: #141969;
    width: 100%;
}

.nav-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 32rem;
    height: 5rem;
    margin: 0 auto;
    align-items: center;
    z-index: 50;
}

.profile-icon {
    color: #fff;
}

.logo {
    justify-self: center;
    grid-column: 2/2;
    font-size: 1.4rem;
    color: white;
}

.logo img {
    height: 4rem;
    width: auto;
}

.hamburger-menu {
    grid-column: 3/3;
    justify-self: end;
    margin-right: 1rem;
}

.hamburger-menu>*:not(:first-child) {
    margin-top: 4px;
}

/*Hamburger menu*/

.line {
    width: 2.5rem;
    height: 4px;
    transition: all .5s ease-in-out;
    background-color: white;
}

.nav-menu {
    width: 80%;
    height: 100%;
    left: -200%;
    background-color: #141969;
    z-index: 100;
    position: fixed;
    transition: all .6s;
}

.show-nav {
    left: 0;
}

.nav-menu ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-menu li {
    margin-top: 2rem;
    list-style: none;
    font-size: 2rem;
    color: white;
}

.nav-menu a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}

/*Hamburger-menu animation- not working*/

.X .first-line {
    transform: rotateZ(305deg) translate(0px, 0px);
}

.X .second-line {
    display: none;
}

.X .third-line {
    transform: rotateZ(235deg) translate(7px, 5px);
}

/*NAVIGATION-BOTTOM*/

.nav-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    background-color: #D61C64;
}

.nav-bottom>*:not(:last-child) {
    border-right: 2px solid #fff;
}

.home, .filter, .favourite {
    width: 100%;
    height: 5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
}

/* COLLAPSING ELEMENTS */

.collapse-element {
    position: absolute;
    top: 0;
    bottom: 0;
}

/* HIDE AND SHOW */

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

main {
    width: 100%;
    position: relative;
}

/* ================================
CODE FOR THE MAIN 'PAGE'
================================= */

.main-page {
    width: 100%;
    position: relative;
    z-index: 0;
    margin: 10rem auto 5rem auto;
}

.main-page__route {
    width: 100%;
    height: 30rem;
    margin-bottom: 8rem;
    box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.22);
}

figure {
    height: 26rem;
    z-index: -1;
    position: relative;
}

figure img {
    width: 100%;
    height: 26rem;
    position: relative;
    z-index: -1;
}

figcaption {
    margin-top: -50px;
    display: block;
    color: #000;
    position: absolute;
    z-index: -1;
    font-size: 2.6rem;
    padding: 5px 2rem;
    background: rgba(255, 255, 255, .7);
}

/* .main-page__route--notes {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.22);
} */
.main-page__route--notes {
    background-color: white;
}
.main-page__route--notes ul {
    padding: 2px 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, auto);
    grid-column-gap: 3rem;
}

.main-page__route--notes ul li {
    list-style: none;
}

/* ================================
ROUTES - SHARED CODE FOR ALL INDIVIDUAL 'PAGES'
================================= */

.route__title {
    width: 32rem;
    height: 10rem;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
}

.route__title h1 {
    font-size: 3rem;
    line-height: 10rem;
}

.route__gallery {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.route__gallery img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

/* route menus */

.route-menu {
    width: 100%;
    height: 4rem;
    background-color: #D61C64;
    margin-bottom: 5rem;
}

.route-menu ul {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 1fr;
}

.route-menu ul li {
    height: 4rem;
    list-style: none;
    display: grid;
    justify-content: center;
    align-items: center;
}

.route-menu ul>*:not(:last-child) {
    border-right: 2px solid #fff;
}

/* CHOSEN INFO PROPERTIES*/

.route-section-selected {
    color: #fff;
    background-color: #4E6959 ;
}

/* INFO SECTION OF ALL ROUTES */

.route__image-marign img {
    margin: 5rem auto;
}

.route-text {
    width: 32rem;
    margin: 0 auto;
}

.route-text h2 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
}

.route-text p {
    font-size: 1.8rem;
}

.route-text>*:not(:last-child) {
    margin-bottom: 1rem;
}

.cards {
    width: 32rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.challenge {
    width: 14rem;
    height: 20rem;
    margin-bottom: 5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.challenge-title {
    width: 100%;
    height: 3rem
}

.challenge-title h3 {
    font-size: 2rem;
}

.challenge-img {
    width: 100%;
    height: 13rem;
}

.challenge-btn {
    width: 100%;
    height: 4rem;
}

/* route 1 EGHOLM*/

.route-ind {
    width: 100%;
}

.egholm-run {
    background-image: url(../image/Egholm/challenge1.jpg);
    background-position: center;
    background-size: cover;
}

/* PROFILE PAGE */

/*PROFILE Picture*/

.profile {
    width: 100%;
    margin-bottom: 5rem;
}

.profile-image {
    margin-top: 5rem;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.profile-image img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    border: 2px solid black;
    margin-top: 4rem;
    justify-self: center;
}

/*PROFILE Routes*/

.profile-picture-routes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: 32rem;
    margin: 0 auto;
    position: relative;
}

.picture-title {
    font-size: 1.6rem;
    grid-row: 1/1;
    margin: 5rem 0 2rem 0;
}

.picture-routes {
    grid-row: 2/2;
    position: relative;
}

.picture-routes img {
    height: 20rem;
}

.picture-routes-title {
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    font-size: 1.4rem;
}

/*Opacity box*/

.picture-routes-inside-text {
    position: absolute;
    bottom: 3.3rem;
    left: rem;
    background-color: white;
    opacity: 0.5;
    height: 4rem;
    width: 10rem;
}

/*Arrows!*/

.arrow-left {
    position: absolute;
    bottom: 9rem;
    left: 1rem;
    font-size: 3rem;
    color: white;
}

.arrow-right {
    position: absolute;
    bottom: 9rem;
    right: 1rem;
    font-size: 3rem;
    color: white;
}

/*Picture tripple dots!*/

.dot1 {
    color: white;
}

.dots ul {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.dots li {
    display: inline-block;
    margin-left: 5px;
}

/*CHALLENGES*/

.challenges {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    width: 32rem;
    margin: 0 auto;
}

.challenges-title {
    grid-row: 1/1;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.challenges-names ul li {
    grid-row: 2/2;
    list-style: none;
    margin-bottom: 1rem;
    border: 2px solid black;
    padding: 5px;
}

/*Profile- bottom-images*/

.bottom-profile-images {
    display: grid;
    grid-template-columns: 1fr;
    width: 32rem;
    margin: 0 auto;
    position: relative;
    margin-top: 2rem;
}

.bottom-profile-image img {
    height: 20rem;
}

footer {
    width: 100%;
    background-color: #141969;
    height: 5rem;
    margin-bottom: 5rem;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem;
    width: 100%;
    margin: 0 auto;
    color: white;
    align-content: center;
    justify-items: center;
}
