*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: 30rem;
}

/* COLLAPSING ELEMENTS */

.collapse-element {
    position: absolute;
    top: 0;
    bottom: 0;
}

/* HIDE AND SHOW */

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

header {
    width: 100%;
    height: 5rem;
    background-color: yellow;
}

main {
    width: 100%;
    position: relative;
}

.main-page {
    width: 100%;
}

/* ================================
ROUTES - SHARED CODE FOR ALL PAGES
================================= */

.route__title {
    width: 32rem;
    height: 10rem;
    margin: 0 auto;
    text-align: center;
}

.route__title h1 {
    font-size: 3rem;
    line-height: 10rem;
}

.route__gallery {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.route__gallery img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

/* route menus */

.route-menu {
    width: 100%;
    height: 4rem;
    background-color: aqua;
    margin-bottom: 5rem;
}

.route-menu ul {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 1fr;
}

.route-menu ul li {
    height: 4rem;
    list-style: none;
    display: grid;
    justify-content: center;
    align-items: center;
}

.route-menu ul>*:not(:last-child) {
    border-right: 2px solid #fff;
}

/* CHOSEN INFO PROPERTIES*/

.route-section-selected {
    color: #fff;
    background-color: #D61C64;
}

/* INFO SECTION OF ALL ROUTES */

.route__image-marign img {
    margin: 5rem auto;
}

.route-text {
    width: 32rem;
    margin: 0 auto;
}

.route-text h2 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
}

.route-text p {
    font-size: 1.8rem;
}

.route-text>*:not(:last-child) {
    margin-bottom: 1rem;
}

.route__flora {
    display: none;
}

/* route 1 */

.route-one {
    width: 100%;
}

.route2 {
    width: 100%;
    height: 70rem;
    background-color: white;
}

.profile {
    width: 100%;
    height: 50rem;
    background-color: blue;
}